/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .session-form{
    display: flex;
   justify-content: center;
   margin-top: 100px;
}

.input-fields{
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.login-input{
    margin-left: 20px;
   
}

.session-submit{
      text-transform: capitalize;
}

.login-box{
   outline: 1px solid black;
   padding: 20px;
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;

}

 .header-link {
   text-decoration: none;
   color: black;
 }

 #nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #fafafb;
    border: darkgrey;
    margin-left: auto;
    margin-right: auto;
    height:50px;
    width:100%;
 }

 #icon{
    display:flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 16px;
 }

 #search-bar{
    display: flex;
    height: 28px;
    width:400px;
    border-radius: 5px;
    border:1px solid darkgrey;
    position: relative;
    top: 5px;
 }

 #search-text input[type="text"]{
    border:whitesmoke;
    height: 75%;
    width:320%;
    position: relative;
    top:2px;
 }

 #search-icon{
    position: relative;
    top: 3px;
 }


.button{
   display: flex;
   position: relative;
   top: 3px;
}

.button2{
  background-color: darkgrey;
  color:rgb(101, 125, 191);
  padding: 8px 15px;
  text-align: center;
  cursor: pointer;
  margin: 2px 2px;
  border-radius: 4px;
  font-size: 13px Arial;
} 

.button1{
   background-color: rgb(87, 126, 231);
   color: #fff;
   padding: 8px 15px;
   text-align: center;
   cursor: pointer;
   margin: 2px 2px;
   border-radius: 4px;
} 

.button1:hover, .button2:hover{
   background-color: grey;
}

#nav span #logo-text{
   font-size: 25px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
   position: relative;
   top:17px;
   display: flex;
   flex-wrap: nowrap;
}
#nav span #logo-text #ans{
   font-weight: bolder;
}

#nav span #logo-text #get{
   font-weight: lighter;
   color: lightsalmon;
}

.header-group{
   display:flex;
   justify-content: space-between;
   position: relative;
   top:14px;
}

.header-button{
   background-color: rgb(87, 126, 231);
   color: #fff;
   position: relative;
   bottom: 15px; 
   padding: 2px 4px;
   text-align: center;
   cursor: pointer;
   margin: 10px 10px;
   border-radius: 4px;
} 